## Simple Exploratory Data Analysis

In [1]:
query="""
select * from samples.nyctaxi.trips limit 10
"""
df= spark.sql(query).toPandas()

In [2]:
df.head(5)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,pickup_zip,dropoff_zip
0,2016-02-13 21:47:53,2016-02-13 21:57:15,1.40,8.0,10103,10110
1,2016-02-13 18:29:09,2016-02-13 18:37:23,1.31,7.5,10023,10023
2,2016-02-06 19:40:58,2016-02-06 19:52:32,1.80,9.5,10001,10018
3,2016-02-12 19:06:43,2016-02-12 19:20:54,2.30,11.5,10044,10111
4,2016-02-23 10:27:56,2016-02-23 10:58:33,2.60,18.5,10199,10022